@import "tailwindcss";

.font-arial {
  font-family: Arial, sans-serif;
}

.font-courier {
  font-family: 'Courier New', Courier, monospace;
}

.font-times {
  font-family: "Times New Roman", Times, serif;
}
